.DS_Store
__pycache__/pde.cpython-39.pyc
Cholesky/4.png
Cholesky/abs.png
Cholesky/exp.png
Cholesky/relu.png
Cholesky/relu6.png
Cholesky/softplus.png
Cholesky/square.png
Eigen/4.png
Eigen/abs.png
Eigen/exp.png
Eigen/relu.png
Eigen/relu6.png
Eigen/softplus.png
Eigen/square.png
graph_results/linear_svd_mse.png
graph_results/linear_svd_value.png
graph_results/non_linear_eps0_svd_mse_bad.png
graph_results/non_linear_eps0_svd_mse_good.png
graph_results/non_linear_eps0_svd_value_bad.png
graph_results/non_linear_eps0_svd_value_good.png
graph_results/non_linear_eps1_cholesky_mse_good.png
graph_results/non_linear_eps1_cholesky_value_good.png
__pycache__/pde.cpython-311.pyc
__pycache__/generateData.cpython-311.pyc
__pycache__/neuralNet.cpython-311.pyc
__pycache__/pdes.cpython-311.pyc
tests/__pycache__/test_generateData.cpython-311-pytest-8.3.2.pyc
tests/__pycache__/test_generateData.cpython-311.pyc
